/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #00a0a0;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 30px;
  color: #333;
}
body{
        margin:0;
        background:#000;
        overflow:hidden;
}

.electric-line{
        position:fixed;
        top:0;
        left:-200px;
        width:200px;
        height:2px;
        background:linear-gradient(90deg,transparent,#00eaff,transparent);
        animation:electricMove 2s linear infinite;
        opacity:0.7;
}

@keyframes electricMove{
        0%{
                transform:translateX(0) translateY(20vh);
        }
        50%{
                transform:translateX(120vw)translateY(50vh);
        }
        100%{
                transform:translateX(0)translateY(80vh);
        }
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
}

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
}
li:before {
  content: "★";
  color: var(--theme-color);
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
th {
  background: var(--theme-color);
  color: #fff;
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}
