/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #00a0a0;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 30px;
  color: #333;
}
body{
        margin:0;
        background:#000;
        overflow:hidden;
}

.electric-line {
  position: fixed;
  width: 200px;
  height: 3px;
  background: linear-gradient(90deg, transparent, #00eaff, #ffffff, #00eaff, transparent);
  opacity: 0.9;
  filter: blur(1px);
  box-shadow: 0 0 15px #00eaff, 0 0 30px #00eaff;
  animation: electricMove 1.2s linear infinite;
}

/* 激しく動く電気の軌跡 */
@keyframes electricMove {
  0% {
    transform: translateX(-20vw) translateY(10vh);
    margin-top: -2px;
  }
  20% {
    transform: translateX(30vw) translateY(60vh);
    margin-top: 3px;
  }
  40% {
    transform: translateX(120vw) translateY(20vh);
    margin-top: -4px;
  }
  60% {
    transform: translateX(70vw) translateY(80vh);
    margin-top: 5px;
  }
  80% {
    transform: translateX(10vw) translateY(40vh);
    margin-top: -3px;
  }
  100% {
    transform: translateX(-20vw) translateY(10vh);
    margin-top: 2px;
  }
}
/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
}

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
}
li:before {
  content: "★";
  color: var(--theme-color);
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
th {
  background: var(--theme-color);
  color: #fff;
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}
